@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-background;
  }
  h1 {
    @apply font-extrabold font-h1;
    @apply text-6xl md:text-7xl lg:text-8xl;
  }
  h2 {
    @apply font-extrabold font-h1;
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  h3 {
    @apply font-text font-bold text-secondary;
    @apply text-base md:text-lg lg:text-xl;
    @apply my-4 md:my-5 lg:my-6 xl:my-7;
  }
  h4 {
    @apply font-extrabold font-h1;
    @apply text-3xl md:text-4xl;
  }
  p {
    @apply font-text font-medium text-main;
    @apply text-lg md:text-xl lg:text-2xl;
  }
}

@utility pause-animation {
  animation-play-state: paused;
}

@theme {
  /* COLORS */
  --color-background: #fefcf7;
  --color-main: #2b2b2b;
  --color-image: #ffffff;
  --color-secondary: #6d7543;
  --color-highlight: #e7b10a;
  --color-mask-intro: #1a1c10;

  /* FONTS */
  --font-h1: "Big Shoulders", sans-serif;
  --font-text: "Noto Sans", sans-serif;

  /* ANIMATIONS */
  --animate-fade-and-scale: fade-and-scale 0.7s ease-in-out;
  --animate-scroll-x-infinite: scroll-x-inifite 30s linear infinite;
  --animate-blink: blink 1s ease-in-out infinite;
}

@keyframes fade-and-scale {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scroll-x-inifite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
