@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-background;
  }
  h1 {
    @apply text-6xl font-extrabold font-h1;
  }
  h2 {
    @apply text-4xl font-extrabold font-h1;
  }
  h3 {
    @apply text-3xl font-extrabold font-h1;
  }
  h4 {
    @apply text-lg font-text font-bold;
  }
  p {
    @apply text-lg font-text font-medium;
  }
}

@theme {
  --color-background: #fefcf7;
  --color-main: #2b2b2b;
  --color-image: #ffffff;
  --color-secondary: #6d7543;
  --color-highlight: #e7b10a;

  --font-h1: "Big Shoulders", sans-serif;
  --font-text: "Noto Sans", sans-serif;

  --animate-fade-and-scale: fade-and-scale 0.7s ease-in-out;
  @keyframes fade-and-scale {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
